@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 2, 11, 19;
  --foreground-rgb: 245, 230, 200;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
